.start-screen {
  background: #212121;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;

  &_light {
    background: white;
  }

  &__container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
    text-align: center;
    margin-bottom: 100px;

    .start-screen_light & {
      color: #212121;
    }
  }

  &__logo {
    margin-bottom: 100px;
    width: 410px;

    path {
      transition: fill 0.3s ease-in-out;

      .start-screen_light & {
        fill: #212121;
      }
    }
  }

  &__content {
    min-height: 25px;
  }

  &__text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
    text-align: center;

    .start-screen_light & {
      color: #212121;
    }
  }

  &__cursor {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .start-screen {
    &__logo {
      margin-bottom: 60px;
      width: 100%;
    }

    &__text {
      font-size: 20px;
    }
  }
}
