@import 'src/static/styles/mixins';

.project-item {

  &__img-wrap {
    height: 600px;
    position: relative;
    margin-bottom: 50px;
  }

  &__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &__info {
    max-width: 1020px + 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 28px;
    @include regular();
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
  }

  &__list {

  }

  &__info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info-title {
    font-size: 18px;
    @include light();
    color: var(--black);
    margin-right: 5px;
  }

  &__info-desc {
    font-size: 18px;
    @include regular();
    color: var(--black);
  }

  &__content {

  }

  &__text {
    max-width: 1020px + 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    @include light();
    line-height: 1.4;
    color: var(--black);
    font-size: 18px;
    margin-bottom: 50px;

    p {
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: inherit;
      color: inherit;
      line-height: inherit;
      transition: color .3s ease;
      &:hover {
        color: var(--red);
      }
    }
  }

  &__quote {
    max-width: 1020px + 40px;
    padding: 20px 10px 20px 40px;
    border-left: 5px solid var(--black);
    margin-left: auto;
    margin-right: auto;
    @include  medium();
    font-style: italic;
    font-size: 28px;
    color: var(--black);
    margin-bottom: 50px;
    line-height: 1.6;
  }

  &__gallery {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
  }

  &__slider-item {
    height: 500px;
    position: relative;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__slider-item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__gallery-with-thumbnails-wrap {
    margin-bottom: 50px;
  }

  &__gallery-with-thumbnails {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
  }

  &__thumbnail-img {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__single-img-container {
    display: flex;

    &_left {
      justify-content: flex-start;
    }

    &_right {
      justify-content: flex-end;
    }

    &_center {
      justify-content: center;
    }
  }

  &__single-img-wrap {
    margin-bottom: 50px;
    max-width: 80%;
    position: relative;
    width: 100%;
    margin-left: 20px;


    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0;
      width: 5px;
      height: 350px;
      background: var(--black);
    }

    &:before {
      content: '';
      position: absolute;
      left: -10px;
      bottom: 0;
      width: 5px;
      height: 350px;
      background: var(--black);
    }
  }

  &__single-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__images-line {
    display: flex;
    margin-bottom: 50px;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &__images-item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    height: 700px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__images-item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .BrainhubCarousel__dots {

  }

  .BrainhubCarousel__thumbnail {
    max-width: 200px;
    max-height: 120px;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .project-item {

    &__img-wrap {
      height: 500px;
    }

    &__quote {
      margin-left: 20px;
      padding-right: 40px;
      font-size: 24px;
    }

    &__single-img-wrap {
      max-width: 90%;
    }

    &__images-line {
      display: block;
    }

    &__images-item {
      width: 100%;
      margin-right: 0;
      height: 500px;
      margin-bottom: 20px;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .project-item {

    &__single-img-wrap {
      max-width: 100%;
    }
  }
}
